In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

pip install --upgrade scikit-learn

In [2]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset = pd.get_dummies(dataset, drop_first=True)

In [5]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
 dataset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [7]:
independent = dataset[[ 'Age', 'EstimatedSalary', 'Gender_Male' ]]

In [8]:
independent

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [9]:
dependent = dataset[['Purchased']]

In [10]:
dependent

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split 
X_train, X_test, Y_train, Y_test = train_test_split(independent, dependent, test_size=1/3, random_state=0)

In [12]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler on your data and transform it
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [16]:
from sklearn.svm import SVC

In [19]:
from sklearn.model_selection import GridSearchCV 

param_grid = {'C': [0.1, 1, 10], 
              'kernel': ['linear', 'rbf', 'poly'], 
              'gamma': ['scale', 'auto']}

grid = GridSearchCV(SVC(probability=True), param_grid, refit = True, cv=5, verbose = 3, n_jobs = -1,  scoring='f1_weighted')

#fitting the model for grid search
grid.fit(X_train, Y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\GOPIKRISHNA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv=5, estimator=SVC(probability=True), n_jobs=-1,
             param_grid={'C': [0.1, 1, 10], 'gamma': ['scale', 'auto'],
                         'kernel': ['linear', 'rbf', 'poly']},
             scoring='f1_weighted', verbose=3)

In [20]:
re = grid.cv_results_ 
grid_predictions = grid.predict(X_test)

from sklearn.metrics import confusion_matrix 
cm = confusion_matrix(Y_test, grid_predictions)

from sklearn.metrics import classification_report 
clf_report = classification_report(Y_test, grid_predictions)

In [21]:
from sklearn.metrics import f1_score 
f1_macro = f1_score(Y_test, grid_predictions, average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_), f1_macro)

The f1_macro value for best parameter {'C': 1, 'gamma': 'scale', 'kernel': 'rbf'}: 0.9111247448089108

In [22]:
print("The confusion matrix:\n", cm)

The confusion matrix:
 [[77  8]
 [ 4 45]]

In [23]:
print("The report:\n", clf_report)

The report:
               precision    recall  f1-score   support

           0       0.95      0.91      0.93        85
           1       0.85      0.92      0.88        49

    accuracy                           0.91       134
   macro avg       0.90      0.91      0.91       134
weighted avg       0.91      0.91      0.91       134

In [24]:
from sklearn.metrics import roc_auc_score 
roc_auc_score(Y_test, grid.predict_proba(X_test)[:,1])

0.9711884753901561

In [25]:
table = pd.DataFrame.from_dict(re)

In [26]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_gamma,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.019200,0.010829,0.004423,0.005417,0.1,scale,linear,"{'C': 0.1, 'gamma': 'scale', 'kernel': 'linear'}",0.751984,0.770070,0.698235,0.923510,0.859176,0.800595,0.080389,15
1,0.022799,0.006573,0.004154,0.002745,0.1,scale,rbf,"{'C': 0.1, 'gamma': 'scale', 'kernel': 'rbf'}",0.843811,0.849057,0.791152,0.981233,0.961755,0.885402,0.073413,5
2,0.022631,0.007695,0.002737,0.000963,0.1,scale,poly,"{'C': 0.1, 'gamma': 'scale', 'kernel': 'poly'}",0.768633,0.727808,0.621589,0.862442,0.789723,0.754039,0.079333,17
3,0.017512,0.004201,0.006757,0.007300,0.1,auto,linear,"{'C': 0.1, 'gamma': 'auto', 'kernel': 'linear'}",0.751984,0.770070,0.698235,0.923510,0.859176,0.800595,0.080389,15
4,0.018363,0.004737,0.003929,0.006056,0.1,auto,rbf,"{'C': 0.1, 'gamma': 'auto', 'kernel': 'rbf'}",0.843811,0.849057,0.791152,0.981233,0.961755,0.885402,0.073413,5
5,0.014076,0.004334,0.002137,0.003327,0.1,auto,poly,"{'C': 0.1, 'gamma': 'auto', 'kernel': 'poly'}",0.768633,0.727808,0.621589,0.841025,0.789723,0.749756,0.073746,18
6,0.015437,0.002666,0.001035,0.000902,1,scale,linear,"{'C': 1, 'gamma': 'scale', 'kernel': 'linear'}",0.776290,0.770070,0.698235,0.923510,0.901744,0.813970,0.085375,11
7,0.013273,0.001698,0.003119,0.001178,1,scale,rbf,"{'C': 1, 'gamma': 'scale', 'kernel': 'rbf'}",0.887346,0.886792,0.850543,0.944161,0.962264,0.906221,0.041022,1
8,0.011798,0.001788,0.002481,0.000484,1,scale,poly,"{'C': 1, 'gamma': 'scale', 'kernel': 'poly'}",0.799620,0.804628,0.705612,0.943041,0.813763,0.813333,0.075752,13
9,0.011780,0.002549,0.001922,0.000554,1,auto,linear,"{'C': 1, 'gamma': 'auto', 'kernel': 'linear'}",0.776290,0.770070,0.698235,0.923510,0.901744,0.813970,0.085375,11
10,0.011665,0.001981,0.002088,0.000429,1,auto,rbf,"{'C': 1, 'gamma': 'auto', 'kernel': 'rbf'}",0.887346,0.886792,0.850543,0.944161,0.962264,0.906221,0.041022,1
11,0.010948,0.000865,0.001928,0.000244,1,auto,poly,"{'C': 1, 'gamma': 'auto', 'kernel': 'poly'}",0.799620,0.804628,0.705612,0.943041,0.813763,0.813333,0.075752,13
12,0.010810,0.002235,0.001315,0.000685,10,scale,linear,"{'C': 10, 'gamma': 'scale', 'kernel': 'linear'}",0.776290,0.790949,0.698235,0.923510,0.901744,0.818146,0.083619,9
13,0.007594,0.001408,0.001430,0.000530,10,scale,rbf,"{'C': 10, 'gamma': 'scale', 'kernel': 'rbf'}",0.867478,0.886792,0.869709,0.944161,0.943041,0.902236,0.034431,3
14,0.008844,0.000777,0.001289,0.000390,10,scale,poly,"{'C': 10, 'gamma': 'scale', 'kernel': 'poly'}",0.799620,0.808392,0.787943,0.924528,0.901744,0.844445,0.056918,7
15,0.009576,0.001010,0.001133,0.000164,10,auto,linear,"{'C': 10, 'gamma': 'auto', 'kernel': 'linear'}",0.776290,0.790949,0.698235,0.923510,0.901744,0.818146,0.083619,9
16,0.007383,0.001407,0.001626,0.000499,10,auto,rbf,"{'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}",0.867478,0.886792,0.869709,0.944161,0.943041,0.902236,0.034431,3
17,0.007395,0.000757,0.001259,0.001068,10,auto,poly,"{'C': 10, 'gamma': 'auto', 'kernel': 'poly'}",0.799620,0.808392,0.787943,0.924528,0.901744,0.844445,0.056918,7